.idea/
.tmp/

go2rtc.yaml
go2rtc.json

go2rtc_freebsd*
go2rtc_linux*
go2rtc_mac*
go2rtc_win*

/go2rtc
/go2rtc.exe
/go2rtc-updater.exe

0_test.go

.DS_Store

website/.vitepress/cache
website/.vitepress/dist

node_modules
package-lock.json
desktop/electron-viewer/dist
desktop/electron-viewer/release
desktop/electron-viewer/release_*
desktop/electron-viewer/build-out
desktop/electron-viewer/build-*
desktop/electron-viewer/build-release
desktop/releases
desktop/electron-viewer/build-1.2.1
desktop/electron-viewer/build-*/
*.exe.blockmap
CLAUDE.md